<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BLU Order Confirmation</title>
<style>
/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100%!important;
	height: 100%;
}


/* -------------------------------------
		ELEMENTS
------------------------------------- */
a {
	color: #348eda;
}

.btn-primary {
	text-decoration: none;
	color: #FFF;
	background-color: #348eda;
	border: solid #348eda;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.btn-secondary {
	text-decoration: none;
	color: #FFF;
	background-color: #aaa;
	border: solid #aaa;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.last {
	margin-bottom: 0;
}

.first {
	margin-top: 0;
}

.padding {
	padding: 10px 0;
}

.center{
	text-align:center;
}


/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap {
	width: 100%;
	padding: 20px;
}

table.body-wrap .container {
	border: 1px solid #f0f0f0;
}


/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap {
	width: 100%;	
	clear: both!important;
}

.footer-wrap .container p {
	font-size: 12px;
	color: #666;
	
}

table.footer-wrap a {
	color: #999;
}


/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.1;
	margin-bottom: 15px;
	color: #000;
	margin: 40px 0 10px;
	line-height: 1.2;
	font-weight: 200;
}

h1 {
	font-size: 36px;
	margin:0;
	padding:0 0 40px 0;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}

p, ul, ol {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}

ul li, ol li {
	margin-left: 5px;
	list-style-position: inside;
}

/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display: block!important;
	max-width: 600px!important;
	margin: 0 auto!important; /* makes it centered */
	clear: both!important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
	padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
	width: 100%;
}

.line{
	height:5px;
	background-color:#35aeea;
	width:100%;
	margin:10px 0;
}

.spacer{
	height:10px;
	width:100%;
}

.logo{
	text-align:center;
	padding:30px 0 5px 0;
	margin:0;
}

.order-details .head{
	background-color:#58595B;
	padding:5px;
	font-weight:bold;
	color:#fff;
	text-align:center;
}

.right{
	text-align:right;
	padding-right:10px;
}

.total{
	font-weight:bold;
}

.final-total{
	font-weight:bold;
}

.copyright{
	font-size:11px;
	text-align:center;
}

.item{
	padding:10px 5px 10px 5px;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
}

</style>
</head>

<body bgcolor="#f6f6f6">

<p class="logo">
	<img src="{{ asset('img/email-logo.png') }}" alt="BLU" />
</p>
	
<!-- body -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">			

			<!-- content -->
			<div class="content">
			<table>
				<tr>
					<td>

						<h1>Customer Order Confirmation (#{{ $transaction->id }})</h1>
												
						<p>
							Dear <strong>Admin</strong>,
						</p>
						<p>
							This is an automated customer order confirmation for the following transaction:
						</p>

						<div class="spacer"></div>	
												
						<div class="line"></div>						
						
						<div class="spacer"></div>
						
						<p>
							<strong>Customer Details:</strong>
						</p>				
						
						<table>
							<tr>
								<td>Full Name: {{ $user->name }}</td>
							</tr>
							<tr>
								<td>Mobile: {{ $user->normalizedContactNumber() }}</td>
							</tr>							
							<tr>
								<td>Address Line 1: {{ $user->address_1 }}</td>
							</tr>						
							<tr>
								<td>Address Line 2: {{ $user->address_2 }}</td>
							</tr>							
							<tr>
								@if($user->area)
									<td>State: {{ $user->area->name }}</td>
								@else
									<td>State: N/A</td>
								@endif
							</tr>					
							<tr>
								@if($user->city)
									<td>City: {{ $user->city->name }}</td>
								@else
									<td>City: N/A</td>
								@endif
							</tr>		
							<tr>
								@if($user->country)
									<td>Country: {{ $user->country->name }}</td>
								@else
									<td>Country: N/A</td>
								@endif
							</tr>															
						</table>						

						<div class="spacer"></div>	
												
						<div class="line"></div>						
						
						<div class="spacer"></div>
						
						@if($transaction->trans_class == "Items")
							<p>
								<strong>Order Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Item</td>
									<td class="head">Qty</td>																
									<td class="head">Points</td>																								
									<td class="head">Delivery Method</td>																																
								</tr>
								
								@foreach($transaction->items as $i)
								<tr>
									<td class="item">{{ $i->product->name }}</td>
									<td class="item">{{ $i->quantity }}</td>																
									<td class="item">{{ number_format($i->product->price_in_points) }}</td>																								
									<td class="item">{{ $i->product->delivery_options }}</td>																																
								</tr>
								@endforeach
														
								<tr>
									<td colspan="3" class="right total">Items Subtotal: </td>																
									<td colspan="1">
										{{ number_format($transaction->amt_redeem - $transaction->delivery_cost) }} Points
									</td>																								
								</tr>				
								<tr>
									<td colspan="3" class="right total">Shipping Charges: </td>																
									<td colspan="1">
										{{ number_format($transaction->delivery_cost) }} Points
									</td>																								
								</tr>						
								<tr>
									<td colspan="3" class="right final-total">Total:</td>																
									<td colspan="1" class="final-total">
										{{ number_format($transaction->amt_redeem) }} Points
									</td>																								
								</tr>																		
							</table>		
						@endif

						@if($transaction->trans_class == "Amount")
							<p>
								<strong>Transaction Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Date</td>
									<td class="head">Amount(USD Value)</td>												
									<td class="head">Points</td>																								
								</tr>																		
								<tr>
									<td class="item">{{ date("F j, Y, g:i a", strtotime($transaction->created_at)) }}</td>
									<td class="item">${{ $transaction->total_amount }}</td>												
									<td class="item">{{ number_format($transaction->points_redeemed) }}</td>																								
								</tr>																										
							</table>						
						@endif

						@if($transaction->trans_class == "Points")
							<p>
								<strong>Transaction Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Date</td>
									<td class="head">Points</td>												
									<td class="head">Value (USD Value)</td>																								
								</tr>																		
								<tr>
									<td class="item">{{ date("F j, Y, g:i a", strtotime($transaction->created_at)) }}</td>
									<td class="item">{{ number_format($transaction->points_redeemed) }}</td>																								
									<td class="item">{{ number_format($transaction->total_amount) }}</td>		
								</tr>																										
							</table>						
						@endif	

						@if($transaction->trans_class == "Flight")
							<p>
								<strong>Flight Booking Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Date Ordered</td>
									<td class="head">Flight Info</td>												
									<td class="head">Points</td>																								
								</tr>																		
								<tr>
									<td class="item">{{ date("F j, Y, g:i a", strtotime($transaction->created_at)) }}</td>
									<td class="item">{{ $transaction->notes }}</td>																								
									<td class="item">{{ number_format($transaction->amt_redeem) }}</td>		
								</tr>																										
							</table>						
						@endif

						@if($transaction->trans_class == "Hotel")
							<p>
								<strong>Hotel Booking Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Date Ordered</td>
									<td class="head">Flight Info</td>												
									<td class="head">Points</td>																								
								</tr>																		
								<tr>
									<td class="item">{{ date("F j, Y, g:i a", strtotime($transaction->created_at)) }}</td>
									<td class="item">{{ $transaction->notes }}</td>																								
									<td class="item">{{ number_format($transaction->amt_redeem) }}</td>		
								</tr>																										
							</table>						
						@endif	

						@if($transaction->trans_class == "Car")
							<p>
								<strong>Car Booking Details:</strong>
							</p>			

							<table class="order-details" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="head">Date Ordered</td>
									<td class="head">Flight Info</td>												
									<td class="head">Points</td>																								
								</tr>																		
								<tr>
									<td class="item">{{ date("F j, Y, g:i a", strtotime($transaction->created_at)) }}</td>
									<td class="item">{{ $transaction->notes }}</td>																								
									<td class="item">{{ number_format($transaction->amt_redeem) }}</td>		
								</tr>																										
							</table>						
						@endif		
						
						<div class="spacer"></div>							
						
						<div class="spacer"></div>							
						
						<div class="spacer"></div>							
						
						<table>
							<tr>
								<td class="copyright">
									This email was sent from a notification-only email address that cannot accept incoming notifications. Please do not reply to this message.
									<br />
									Copyright &copy; {{ date('Y') }} BLU Solutions Limited. All Rights Reserved
								</td>
							</tr>
						</table>						
					</td>
				</tr>
			</table>
			</div>
			<!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
			<!-- content -->
			<!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table>
<!-- /footer -->

</body>
</html>