<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BLU Reward Receipt</title>
<style>
/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100%!important;
	height: 100%;
}


/* -------------------------------------
		ELEMENTS
------------------------------------- */
a {
	color: #348eda;
}

.btn-primary {
	text-decoration: none;
	color: #FFF;
	background-color: #348eda;
	border: solid #348eda;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.btn-secondary {
	text-decoration: none;
	color: #FFF;
	background-color: #aaa;
	border: solid #aaa;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.last {
	margin-bottom: 0;
}

.first {
	margin-top: 0;
}

.padding {
	padding: 10px 0;
}

.center{
	text-align:center;
}


/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap {
	width: 100%;
	padding: 20px;
}

table.body-wrap .container {
	border: 1px solid #f0f0f0;
}


/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap {
	width: 100%;	
	clear: both!important;
}

.footer-wrap .container p {
	font-size: 12px;
	color: #666;
	
}

table.footer-wrap a {
	color: #999;
}


/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.1;
	margin-bottom: 15px;
	color: #000;
	margin: 40px 0 10px;
	line-height: 1.2;
	font-weight: 200;
}

h1 {
	font-size: 36px;
	margin:0;
	padding:0 0 40px 0;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}

p, ul, ol {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}

ul li, ol li {
	margin-left: 5px;
	list-style-position: inside;
}

/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display: block!important;
	max-width: 600px!important;
	margin: 0 auto!important; /* makes it centered */
	clear: both!important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
	padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
	width: 100%;
}

.line{
	height:5px;
	background-color:#35aeea;
	width:100%;
	margin:10px 0;
}

.spacer{
	height:10px;
	width:100%;
}

.logo{
	text-align:center;
	padding:30px 0 5px 0;
	margin:0;
}

.order-details .head{
	background-color:#58595B;
	padding:5px;
	font-weight:bold;
	color:#fff;
	text-align:center;
}

.right{
	text-align:right;
	padding-right:10px;
}

.total{
	font-weight:bold;
}

.final-total{
	font-weight:bold;
}

.copyright{
	font-size:11px;
	text-align:center;
}

.item{
	padding:10px 5px 10px 5px;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
}

</style>
</head>

<body bgcolor="#f6f6f6">

<p class="logo">
	<img src="{{ asset('img/email-logo.png') }}" alt="BLU" />
</p>
	
<!-- body -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">			

			<!-- content -->
			<div class="content">
			<table>
				<tr>
					<td>

						<h1>Reward Summary (#{{ $transaction->id }})</h1>
												
						<p>
							Dear <strong>{{ $user->name }}</strong>,
						</p>
						<p>
							@if(empty($user->normalizedContactNumber()))
								Points have been awarded to your account ({{ $user->email }}), the details are listed below.
							@else
								Points have been awarded to your account ({{ $user->normalizedContactNumber() }}), the details are listed below.
							@endif
						</p>					
						
						<p>
							For any questions or queries, please contact us on <a href="mailto:{{ Config::get('blu.admin_email') }}">{{ Config::get('blu.admin_email') }}</a>
						</p>

						<div class="spacer"></div>	
												
						<div class="line"></div>						
						
						<div class="spacer"></div>			

						<p>
							<strong>Transaction Details:</strong>
						</p>			

						<table class="order-details" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="head">Points Rewarded</td>
								<td class="head">Reference</td>																																			
								<td class="head">Value (USD)</td>																																
							</tr>
							
							<tr>
								<td class="item">{{ number_format($transaction->points_rewarded) }}</td>
								<td class="item">{{ $transaction->ref_number }}</td>
								<td class="item">${{ number_format($transaction->amt_reward) }}</td>
							</tr>

							<tr>
								<td colspan="2" class="right final-total">Total:</td>																
								<td colspan="1" class="final-total">
									{{ number_format($transaction->points_rewarded) }} Points
								</td>																								
							</tr>							
																	
						</table>																													

						<div class="spacer"></div>	
						
						<div class="spacer"></div>							

						<div class="spacer"></div>							

						<div class="spacer"></div>							

						<table>
							<tr>
								<td class="center">
									<p>
										<a href="{{ url('/') }}" class="btn-primary">Visit BLU Points for amazing rewards!</a>
									</p>
								</td>
							</tr>
						</table>
						
						<div class="spacer"></div>							
						
						<div class="spacer"></div>							
						
						<div class="spacer"></div>							
						
						<table>
							<tr>
								<td class="copyright">
									This email was sent from a notification-only email address that cannot accept incoming notifications. Please do not reply to this message.
									<br />
									Copyright &copy; {{ date('Y') }} BLU Solutions Limited. All Rights Reserved
								</td>
							</tr>
						</table>						
					</td>
				</tr>
			</table>
			</div>
			<!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
			<!-- content -->
			<!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table>
<!-- /footer -->

</body>
</html>
