/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 11em;
}
.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}
.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}
.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff;
}
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #666;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
body,
html {
  background-color: #efefef;
  color: #333;
  height: 100%;
}
body.loading {
  background: url(../img/loader.gif) no-repeat center center #efefef;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a {
  color: #4d849e;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-container {
  position: relative;
  opacity: 0;
}
#inline-dialogs {
  display: none;
  overflow: hidden;
  width: 0;
  height: 0;
}
#left-navigation {
  background-color: #363941;
  width: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}
#left-navigation #scroll-rail {
  position: absolute;
  overflow-y: scroll;
}
#left-navigation form {
  display: block;
  text-align: center;
  padding-top: 10px;
}
#left-navigation form input {
  font-size: 0.75em;
  border: none;
  background: url(../img/icons/finder.png) no-repeat center right #ffffff;
  background-position: 97% center;
  padding: 10px 10px;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#left-navigation form input:focus {
  outline: none;
  background-color: #F0F8FF;
}
#left-navigation ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
#left-navigation ul li {
  padding: 4px 0 4px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 4px solid transparent;
}
#left-navigation ul li.active {
  background-color: #2F3138;
  border-left: 4px solid #5FBBE7;
}
#left-navigation ul li:hover {
  background-color: #2F3138;
}
#left-navigation a {
  color: #92959E;
  text-decoration: none;
  font-size: 0.875em;
}
#left-navigation i {
  margin-right: 7px;
}
#left-navigation h6 {
  padding-left: 10px;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  color: #4F535C;
  margin: 0;
  padding: 20px 0 20px 10px;
}
/* endof #left-navigation */
#content-area {
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  background: url(../img/powered-by.png?1) no-repeat;
  background-position: 99% 99%;
  float: right;
  position: relative;
  /* endof header */

  /* endof .content-head */

}
#content-area header {
  background-color: #5FBBE7;
  color: #fff;
  font-size: 0.75em;
  text-align: right;
  padding: 10px 10px 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content-area header a {
  color: #ddd;
  display: inline-block;
  padding: 0 0 0 10px;
}
#content-area header img {
  margin-right: 10px;
   width:26px;
}

#content-area .padding {
  padding: 30px 20px 50px 20px;
}
#content-area table {
  width: 100%;
}
#content-area div#content {
  position: absolute;
  left: 0;
  top: 46px;
  overflow-y: scroll;
}
#content-area .content-head {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
#content-area .content-head .title {
  text-align: left;
}
#content-area .content-head .title h1 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1.625em;
  position: relative;
  max-width: 700px;
  display: inline-block;
}
#content-area .content-head .controls {
  text-align: right;
}
#content-area .content-head .controls form,
#content-area .content-head .controls button {
  display: inline-block;
}
#content-area .content-head .controls form {
  margin-right: 10px;
  position: relative;
}
#content-area .content-head .controls form input {
  font-size: 0.75em;
  border: none;
  background-color: #fff;
  background-position: 97% center;
  padding: 10px 10px;
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
#content-area .content-head .controls form input:focus {
  outline: none;
  background-color: #f7fcff;
}
#content-area .content-head .controls .list-search {
  position: absolute;
  z-index: 99999;
  width: 20px;
  height: 20px;
  top: 7px;
  border: none;
  right: 9px;
  background: url(../img/icons/finder.png) no-repeat center right transparent;
}
#content-area .content-head .controls button {
  font-size: 0.75em !important;
}
/* endof #content-area */
.single-fieldset {
  margin: 0px !important;
  padding: 0 0 10px 0 !important;
}
body.login {
  height: 100%;
  background: url(../img/BLU-Platform-landing-page.png) no-repeat center top #fafafa;
  background-position: center 50px;
  position: relative;
}
body.login .hasBackground {
  position: relative;
  top: 70% !important;
}
.single-login-form {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.single-login-form img {
  position: absolute;
  top: -180px;
  left: 70px;
}
.single-login-form a.single-nav-link {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: 0.75em;
}
/* endof .single-login-form */
.attributes {
  z-index: 0 !important;
}
.attributes h3 {
  margin: 10px 0 1px 0;
  font-weight: normal;
  font-size: 0.75em;
  background-color: #717C95;
  position: relative;
  padding: 10px 0 10px 10px;
  display: block;
  color: #FFFFFC;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 3px;
  -moz-background-clip: padding;
  border-top-right-radius: 3px;
  background-clip: padding-box;
}
.attributes h3 a {
  color: #FFFFFC;
  text-decoration: none;
}
.attributes h3 a:hover {
  text-decoration: underline;
}
.attributes ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.attributes ul li {
  display: block;
  background-color: #F1F3F5;
  font-size: 0.875em;
  padding: 10px;
  margin-bottom: 1px;
  position: relative;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.attributes ul li.empty {
  color: #acacac;
  font-style: italic;
}
.attributes ul li a {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* endof .attributes */
/* ==========================================================================
   Page: Segments
   ========================================================================== */
div.property-forms form {
  display: none;
}
div.property-forms form label{
    padding-top:0;
    margin-top:0
}
.form_x, .form_z{
    margin-top:5px
}
.type-forms:first-child .form_z{
    display: none
}
/* ==========================================================================
   Overview Page
   ========================================================================== */
section.dashboard-top {
  background-color: #fff;
  border-bottom: 1px solid #DAE0EC;
  padding: 40px;
}
section.dashboard-top h3 {
  font-size: 0.75em;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #DAE0EC;
  text-transform: uppercase;
  width: 95%;
}
section.dashboard-top .empty-text {
  text-align: center;
  font-style: italic;
  color: #d6d6d6;
}
section.dashboard-top div.stat-group {
  width: 33%;
  float: left;
  padding-bottom: 30px;
}
section.dashboard-top div.stat-group h5 {
  font-size: 2.1875em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: #666666;
}
section.dashboard-top div.stat-group span {
  color: #9FA8BC;
  font-size: 0.6875em;
  text-transform: uppercase;
}
section.dashboard-top div.support-frame {
  padding: 0;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
}
section.dashboard-top div.support-frame h4 {
  padding: 10px;
  margin: 0;
  background-color: #717C95;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-background-clip: padding;
  border-top-right-radius: 4px;
  background-clip: padding-box;
}
section.dashboard-top div.support-frame div.body {
  height: 400px;
  padding: 15px;
  border-left: 3px solid #EAEDF4;
  border-right: 3px solid #EAEDF4;
  border-bottom: 3px solid #EAEDF4;
  background-color: #F5F5FA;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 4px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 4px;
  background-clip: padding-box;
}
section.dashboard-top div.support-frame div.rail {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}
section.dashboard-top div.support-frame a.pure-button {
  display: inline-block;
}
section.dashboard-top div.support-frame table {
  width: 100%;
}
section.dashboard-top div.support-frame table tr {
  border-bottom: 1px solid #E7EAF2;
}
section.dashboard-top div.support-frame table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
section.dashboard-top div.support-frame table tr:first-child td {
  padding-top: 0px !important;
}
section.dashboard-top div.support-frame .ticket-image {
  width: 60px;
  text-align: left;
}
section.dashboard-top div.support-frame .ticket-image img {
  border: 2px solid #bac0cc;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  width:40px;
}
section.dashboard-top div.support-frame .ticket-name {
  font-size: 0.875em;
  color: #434A5B;
}
section.dashboard-top div.support-frame .ticket-ts {
  font-size: 0.75em;
  color: #8C96AE;
  text-align: right;
}
/* endof section.dashboard-top */
div.redeemer {
  display: inline-block;
  width: 300px;
  position: relative;
}
div.redeemer img {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
div.redeemer h6 {
  display: block;
  float: left;
  position: absolute;
  top: 17px;
  left: 85px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  color: #434A5B;
  line-height: 16px;
}
div.redeemer p {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #9FA8BC;
  line-height: 18px;
  letter-spacing: 0px;
  top: 49px;
  left: 85px;
}
section#dashboard-chart {
  height: 600px;
  position: relative;
  background-color: #FBFBFC;
}
section#dashboard-chart #chart-canvas {
  width: 100%;
  height: 300px;
}
section#dashboard-chart h2 {
  margin: 0;
  padding: 30px 30px 30px 30px;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
}
section#dashboard-chart .light-text {
  color: #717C95;
  text-transform: none;
  display: inline-block;
  padding-left: 15px;
  font-weight: 400;
}
a.ticket-type-partner {
  display: block;
  padding: 10px;
  background-color: #47A5EB;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
a.ticket-type-member {
  display: block;
  padding: 10px;
  background-color: #EC4748;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.support-popup-list {
  height: 400px;
  overflow-y: scroll;
}
#support-center-page div#ticket-view {
  padding-left: 0px;
}
#support-center-page div#profile-view {
  padding-left: 25px;
}
#support-center-page div#profile-view.empty {
  min-height: 600px;
  background: url(../img/call-center.png) center center no-repeat;
}
#support-center-page a.info-link {
  text-decoration: none;
  font-size: 0.75em;
  display: block;
  padding-top: 10px;
}
#support-center-page .search {
  background: url(../img/icons/finder.png) no-repeat #ffffff;
  background-position: 98% 6px;
}
/* endof #support-center-page */
.support-popup-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.support-popup-list ul li {
  padding-bottom: 5px;
}
.support-popup-list ul li a {
  display: block;
  padding: 5px;
  font-size: 0.875em;
  text-decoration: none;
  border-bottom: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
table.agent-details {
  color: #707070;
  font-size: 0.875em;
  font-style: italic;
}
span.not-found {
  display: block;
  margin-top: 10px;
  background-color: #FEEEEF;
  font-size: 0.875em;
  color: #CF120C;
  text-align: center;
  padding: 15px;
}
/* ==========================================================================
   Report
   ========================================================================== */
.report-table {
  font-size: 0.9375em;
}
div.table-totals {
  /*text-align: right;*/
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.875em;
}
div.table-totals span {
  display: inline-block;
  padding-left: 25px;
}
div.report-controls div.padding {
  background-color: #FFF;
  margin-right: 15px;
}
div.report-controls h4 {
  margin: 0 0 10px 0;
  padding: 0;
}
div.report-controls h5 {
  border-bottom: 1px solid #d3d6df;
  margin: 20px 0 10px 0;
  padding: 0;
}
div.report-info {
  background-color: #F5F5FA;
  border: 1px solid #d3d6df;
  padding: 10px;
  margin-bottom: 20px;
  color: #717C95;
  font-size: 0.875em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
a.inline-control {
  font-size: 0.75em;
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}
a.inline-control.active {
  font-weight: bold;
  text-decoration: none;
}
a.inline-control:hover {
  color: #71aeca;
}
div.chart-canvas {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
div#chart h5 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  background-color: #717C95;
  color: #FFFFFC;
  text-transform: uppercase;
}
.plus {
  position: relative;
  background: none;
  /*background: url(../img/plus.png) no-repeat center center !important;*/
  width: 7px;
  height: 12px;
  display: inline-block;
  /*text-indent: -99999px;*/
  outline: none;
}
.minus {
  position: relative;
  background: none;
  /*background: url(../img/minus.png) no-repeat center center !important;*/
  width: 12px;
  height: 12px;
  display: inline-block;
  outline: none;
  margin-left: -5px;
/*  text-indent: -99999px;*/
}
label.partner-name {
  font-weight: normal;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 10px 0 0px 0;
  font-size: 0.8125em;
}
label.entity-name {
  display: none;
  margin: 0 0 0 5px;
  padding: 3px 0 0 0;
  padding-left: 9px;
  font-size: 0.8125em;
  color: #949494;
  cursor: pointer;
}
label.level2 {
  margin: 0 0 0 20px;
  padding: 3px 0 0 0;
  padding-left: 9px;
  color: #6f6d6d;
}
.report-period {
  background-color: #F5F5FA;
  border: 1px solid #d3d6df;
  color: #717C95;
  font-size: 0.875em;
  padding: 7px 10px;
  margin: 15px 0 10px 0;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.report-period p {
  margin: 0;
  padding: 3px 0;
  display: block;
  font-size: 0.875em;
}
.report-period p span {
  display: inline-block;
  width: 30px;
}
span.not-found {
  font-size: 0.875em;
}
.report-input {
  width: 100%;
  display: block;
}
/* ==========================================================================
   Forms
   ========================================================================== */
a.padded-href {
  display: inline-block;
  padding: 15px 0 10px 0;
  font-size: 0.875em;
}
a.delete-image {
  font-size: 0.75em;
}
table.file-upload td {
  padding-bottom: 15px;
}
label.error {
  color: red;
}
div.button-choice a {
  display: block;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
div.button-choice a:nth-child(odd) {
  background-color: #7889af;
}
div.button-choice a:nth-child(even) {
  background-color: #657496;
}
div.button-choice a:hover {
  background-color: #5c677f;
}
.radio-label {
  cursor: pointer;
  font-size: 0.75em;
  font-style: italic;
}
.form_hidden_attributes {
  display: none;
}
.errors {
  padding: 20px;
  background-color: #FEEEEF;
  font-size: 0.75em;
  color: #CF120C;
  margin-bottom: 10px;
}
.errors ul {
  margin: 0 0 0 10px;
  padding: 0;
}
/* endof .errors */
.status {
  padding: 20px;
  background-color: #fafeee;
  font-size: 0.75em;
  color: #93b439;
  margin-bottom: 10px;
}
/* endof .status */
.inline-error {
  padding: 10px;
  background-color: #FEEEEF;
  font-size: 0.875em;
  color: #CF120C;
  margin-bottom: 10px;
  display: none;
}
.form-width {
  width: 800px;
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.form-width-min {
  width: 300px;
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.form-dynamic {
  width: auto;
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
label {
  display: inline-block;
  padding-top: 10px;
}
label.checkbox-label {
  padding-top: 3px;
}
.form-buttons {
  margin-top: 40px;
}
.form-buttons div.left {
  float: left;
  width: 50%;
  text-align: left;
}
.form-buttons div.right {
  width: 50%;
  float: right;
  text-align: right;
}
/* endof .form-buttons */
.button-link {
  display: block;
  margin-top: 10px;
}
fieldset {
  margin-bottom: 20px !important;
}
fieldset legend {
  position: relative !important;
  display: block !important;
  font-size: 1.25em !important;
  padding-bottom: 20px !important;
  border-bottom: 3px solid #d7d7d7 !important;
}
fieldset legend .right {
  font-size: 0.75em;
  position: absolute;
  right: 0;
  top: 10px;
}
fieldset legend .right span {
  color: #fa7d5b;
}
.dob-width {
  float: left;
  width: 100px;
  display: block;
  margin-right: 10px !important;
}
tr.empty td {
  text-align: center;
}
span.info {
  display: block;
  padding: 10px;
  border-left: 3px solid #dfdf93;
  background-color: #FFFFCD;
  color: #999973;
  font-size: 0.875em;
}
input.disabled {
  background-color: #EFEFEF !important;
}
span.inline-help {
  font-size: 0.75em;
  display: block;
  margin: 10px 0 0 0;
}
select.loayltyexrulecur{
    width: 82% !important;
}
label.loyaltytyexrulecur{
    font-weight: bold;
}
div.loayltyexruleevent{
    float: right;
    margin-top: -205px;
}
/* ==========================================================================
   Sortable Lists
   ========================================================================== */
ul.sortable-list {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}
ul.sortable-list li {
  display: block;
  padding: 5px;
  font-size: 0.875em;
  margin-bottom: 3px;
  cursor: pointer;
  background: url(../img/sort.png?1) no-repeat center right #f8f8f8;
}
ul.sortable-list li span.p {
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  color: red;
}
ul.sortable-list li:active {
  background-color: #e7e7e7;
}
/* endof ul.sortable-list */
.save-sortable {
  display: block;
}
/* ==========================================================================
   Dialogs
   ========================================================================== */
div#dialog-container {
  position: absolute;
  display: none;
  background: url(../img/transparency.png) repeat;
  z-index: 10;
}
div#dialog-container div#dialog-wrapper {
  z-index: 11;
  background-color: #fff;
  padding: 30px;
  z-index: 20 !important;
  position: absolute;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
div#dialog-container div#dialog-wrapper div.body h4 {
  border-bottom: 1px solid #d7d7d7;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}
div#dialog-container div#dialog-wrapper a.close {
  position: absolute;
  width: 34px;
  height: 33px;
  background: url(../img/close.png) no-repeat;
  display: block;
  top: -10px;
  right: -10px;
  text-indent: -99999px;
}
div#dialog-container div#dialog-wrapper .section-title {
  padding: 5px 10px;
  margin: 10px 0 10px 0;
  background-color: #e7e7e7;
}
div.map-canvas {
  background-color: #d7d7d7;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.top-space {
  display: inline-block;
  padding-top: 10px;
}
.bottom-space {
  display: inline-block;
  padding-bottom: 10px;
}
.attribute-action,
.basic-action,
.attribute-action-save,
.attribute-action-reload {
  display: block;
  margin-top: 20px;
}
.attribute-action-reload {
  margin-top: 35px;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #535d73;
}
.pure-button-primary:hover,
.pure-button-selected:hover,
a.pure-button-primary:hover,
a.pure-button-selected:hover {
  background-color: #717C95;
}

.pure-button-primary1,
a.pure-button-primary1{
  background-color: #939598;
  font-size: 0.90em;
  width:115px;
  padding:7px 7px;
  margin-right:5px;
  text-decoration: none;
  border-radius: 2px;
  transition: box-shadow 0.1s linear 0s;
  color: #ffffff;
}
.pure-button-primary1:hover,
a.pure-button-primary1:hover{
  background-color: #717C95;
  font-size: 0.90em;
  width:115px;
  padding:7px 7px;
  margin-right:5px;
  text-decoration: none;
  border-radius: 2px;
  transition: box-shadow 0.1s linear 0s;
  color: #ffffff;
}

a.btn-new-brand,
a.btn-new-category,
a.btn-new-file,
a.btn-new-type{
  font-size: 0.75em;
}
#select-all-permissions {
  font-size: 0.6875em;
  position: absolute;
  right: 0px;
}
.select-group-permissions {
  margin: 0 !important;
  padding: 0 !important;
}
/* ==========================================================================
   Tables
   ========================================================================== */
.pure-table {
  border: none;
}
.pure-table thead {
  border: 2px solid #717C95;
}
.pure-table tr.group-title td {
  padding-left: 20px;
  text-align: left !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6875em;
}
.pure-table th {
  padding: 10px 5px;
  text-align: center;
  background-color: #717C95;
  color: #FFFFFC;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: normal;
  border-left: 1px solid #7f8aa2;
}
.pure-table th a {
  color: #FFFFFC;
  text-decoration: none;
}
.pure-table th a:hover {
  color: #63b6d5;
}
.pure-table tr:nth-child(even) {
  background: #fff;
}
.pure-table tr:nth-child(odd) {
  background: #F5F5FA;
}
.pure-table td {
  padding: 10px 5px 10px 5px;
  font-size: 0.875em;
  text-align: center;
  border-left: 1px solid #e6e9ee;
}
.pure-table td label {
  cursor: pointer;
}
.pure-table tbody {
  border-left: 2px solid #dadfe8;
  border-right: 2px solid #dadfe8;
  border-bottom: 2px solid #dadfe8;
}
.pure-table tfoot {
  border-left: 2px solid #dadfe8;
  border-right: 2px solid #dadfe8;
  border-bottom: 2px solid #dadfe8;
  font-weight: bold;
  color: #a8afba;
}
/* endof .pure-table */
.condensed-rows td {
  padding: 5px 0 5px 0;
}
.condensed-rows label {
  display: inline;
}
th.align-left,
td.align-left {
  text-align: left !important;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
.pagination li {
  display: inline-block;
  padding: 0 4px 0 4px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.asterix {
  color: red !important;
}
.yes {
  color: #6fba6d;
}
.no {
  color: #ba6d6d;
}
.ico-yes {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/yes.png) no-repeat center center;
}
.ico-no {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/no.png) no-repeat center center;
}
div.spacer {
  height: 20px;
  width: 100%;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-30 {
  padding-left: 20px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-60 {
  padding-left: 60px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-lr-10 {
  padding: 0 10px 0 10px;
}
.block {
  display: block;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/** Travel Redemption */
.container {
    margin: 0 10px;
    position: relative;
    width: 970px;
}
.travel-search-page div.best-price {
    background-color: #ffde40;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
.travel-search-page div.best-price .cabinClass {
    display: block;
    font-size: 1.125em}
.travel-search-page div.best-price .bestPrice {
    display: block;
    font-size: 1.3125em}
.travel-search-page .slider {
    margin-left: 0;
    width: 92%}
.travel-search-page .range-slider {
    margin-left: 10px;
    width: 90%}
.travel-search-page .pure-u-1-3 ul {
    margin: 0;
    padding: 0;
    list-style: none}
.travel-search-page .pure-u-1-3 label {
    cursor: pointer;
    font-size: .875em}
.travel-search-page h3 {
    width: 100%;
    padding: 5px;
    margin: 0;
    color: #fff;
    font-size: .875em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(data: image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MmM5ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2ODljYiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #62c9f5 0%, #2689cb 100%);
    background-image: -moz-linear-gradient(top, #62c9f5 0%, #2689cb 100%);
    background-image: -o-linear-gradient(top, #62c9f5 0%, #2689cb 100%);
    background-image: linear-gradient(to bottom, #62c9f5 0%, #2689cb 100%);
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topright: 5px;
    -moz-background-clip: padding;
    border-top-right-radius: 5px;
    background-clip: padding-box}
.travel-search-page div.section {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    padding: 20px}
.travel-search-page div.section h5 {
    margin: 0;
    padding: 15px 0 15px 0}
.travel-search-page div.section select {
    width: 100%}
.travel-search-page div.section .time-display {
    display: block;
    padding: 0 0 10px 0;
    font-size: .75em;
    margin: 0}
.travel-search-page div.title-rail {
    position: relative}
.travel-search-page div.title-rail h1 {
    font-size: .9375em;
    padding: 0;
    margin: 0}
.travel-search-page div.title-rail a {
    position: absolute;
    top: 0;
    right: 0}
.travel-search-page div.title-rail p.trip-date {
    font-size: .875em}
.travel-search-page div.sort-results {
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 0 10px 0}
.travel-search-page div.sort-results a {
    color: #3195d3}
.travel-search-page div.sort-results a.active {
    color: #4b4b4b;
    font-weight: bold;
    text-decoration: none}
.travel-search-page #search-results {
    background-color: #44ade2;
    padding: 15px;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
.travel-search-page #search-results ul.result-top {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%}
.travel-search-page #search-results ul.result-top li {
    display: block;
    float: left;
    width: 25%;
    color: #fff;
    text-align: center}
.travel-search-page #search-results span.loading {
    display: block;
    text-align: center;
    font-size: 1.125em;
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
.travel-search-page div.title-rail {
    position: relative}
.travel-search-page div.title-rail h1 {
    font-size: .9375em;
    padding: 0;
    margin: 0}
.travel-search-page div.title-rail a {
    position: absolute;
    top: 0;
    right: 0}
.travel-search-page div.title-rail p.trip-date {
    font-size: .875em}
.travel-search-page div.sort-results {
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 0 10px 0}
.travel-search-page div.sort-results a {
    color: #3195d3}
.travel-search-page div.sort-results a.active {
    color: #4b4b4b;
    font-weight: bold;
    text-decoration: none}
.travel-search-page #search-results {
    background-color: #44ade2;
    padding: 15px;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
.travel-search-page #search-results ul.result-top {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%}
.travel-search-page #search-results ul.result-top li {
    display: block;
    float: left;
    width: 25%;
    color: #fff;
    text-align: center}
.travel-search-page #search-results span.loading {
    display: block;
    text-align: center;
    font-size: 1.125em;
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
div.result {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
div.result ul {
    list-style: none;
    margin: 0;
    padding: 0}
div.result ul li {
    float: left;
    display: block;
    width: 25%;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
div.result ul li img {
    margin-bottom: 10px}
div.result ul li table {
    font-size: .8125em}
div.result ul li.p h5 {
    margin: 0;
    padding: 10px 0 15px 0;
    font-size: 1em}
div.result .emp {
    color: #3d3d3d}
div.result .sub {
    color: #a7a7a7}
div#confirm-travel {
    padding: 50px 0 50px 0}
div#confirm-travel .summary-bar {
    background-color: #55b7eb;
    font-size: 1.5625em;
    color: #fff;
    padding: 10px}
div#confirm-travel table {
    width: 100%}
div#confirm-travel table td,div#confirm-travel table th {
    text-align: center;
    padding: 15px 0}
div#confirm-travel table span {
    display: block}
div#confirm-travel div.total-points {
    text-align: right;
    padding: 10px 0 10px 0}
div#confirm-travel div.total-points span {
    display: inline-block;
    padding: 5px}
div#confirm-travel div.total-points span.points {
    background-color: #75a419;
    color: #fff;
    font-size: 1.25em;
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
div#confirm-travel h5 {
    background-color: #5b5b5c;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    color: #fff}
div#confirm-travel div.note {
    background-color: #55b7eb;
    padding: 10px;
    color: #fff;
    margin: 25px 0;
    clear: both}
div#confirm-travel div.note h4,div#confirm-travel div.note p {
    padding: 0;
    margin: 0}
div#confirm-travel div.note h4 {
    padding: 0 0 10px 0}
div#confirm-travel div.button-rail {
    text-align: right}
div#confirm-travel .personal-details,div#confirm-travel .pin {
    width: 400px}
div#confirm-travel .terms {
    padding-top: 10px}
div#confirm-travel .terms label {
    cursor: pointer}
#travel-pagination {
    text-align: right;
    padding: 15px 0 0 0}
#travel-pagination ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0}
#travel-pagination ul li {
    float: left;
    text-align: center;
    width: 20px}
#travel-pagination ul li a.active {
    font-weight: bold;
    text-decoration: none}
#travel-tabs .tab {
    display: none}
#travel-tabs #tab-1 {
    display: block}
div.star5 {
    display: inline-block;
    width: 75px;
    height: 15px;
    background: url(../img/5-star.png) no-repeat}
div.star4 {
    display: inline-block;
    width: 75px;
    height: 15px;
    background: url(../img/4-star.png) no-repeat}
div.star3 {
    display: inline-block;
    width: 75px;
    height: 15px;
    background: url(../img/3-star.png) no-repeat}
div.star2 {
    display: inline-block;
    width: 75px;
    height: 15px;
    background: url(../img/2-star.png) no-repeat}
div.star1 {
    display: inline-block;
    width: 75px;
    height: 15px;
    background: url(../img/1-star.png) no-repeat}
div.block-labels label {
    padding: 5px 0 5px 0;
    display: block}
div.block-labels label:first-child,div.block-labels label:last-child {
    padding-top: 0}

.hotel-search-form{
	padding: 0px 50px 30px 20px;
}
.hotelName {
    width: 100%;
    background: url(../img/search.png) right center no-repeat #fff}
.f-image {
    float: left;
    width: 15%}
.f-detail {
    float: left;
    width: 55%;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.f-detail a {
    font-size: 1.125em;
    color: #319ee4}
.f-detail p {
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: .875em}
.f-price {
    float: left;
    width: 30%}
.f-price p {
    padding: 0;
    margin: 0;
    font-size: .875em}
.f-price p.avg-price {
    color: #808080;
    font-weight: bold}
.f-price p.avail {
    color: #c99898}
.travel-detail-page .blue-box {
    background-color: #2b9fda;
    padding: 10px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box}
.travel-detail-page .blue-box div.floated div.gallery {
    width: 80%;
    float: left;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.travel-detail-page .blue-box div.floated div.gallery div.preview {
    float: left;
    width: 50%;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.travel-detail-page .blue-box div.floated div.gallery div.preview img {
    border: 1px solid #030502}
.travel-detail-page .blue-box div.floated div.gallery div.thumbnails {
    height: 300px;
    overflow-y: scroll;
    float: right;
    width: 50%;
    padding: 8px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.travel-detail-page .blue-box div.floated div.gallery div.thumbnails img {
    margin: 4px;
    cursor: pointer}
.travel-detail-page .blue-box div.floated div.tripadvisor {
    width: 20%;
    float: right;
    background-color: #f7f7f7;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.travel-detail-page .blue-box div.title-rail {
    color: #fff;
    padding: 0 0 15px 0}
.travel-detail-page .blue-box div.title-rail h1 {
    margin: 0;
    padding: 0}
.travel-detail-page .blue-box div.title-rail p {
    margin: 0;
    padding: 0}
div#link-cards div.listing-wrapper {
    width: 500px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
div#link-cards div.listing-wrapper #btnLinkCard {
    padding-top: 10px;
    display: block;
    font-size: .875em}
div.static-buttons {
    z-index: 100;
    position: fixed;
    top: 285px;
    right: 0}
.greenBtn {
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    color: #fff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    font-family: "Signika" !important;
    padding: 7px 15px;
    font-size: .75em;
    border: 1px solid #508c50;
    background-image: url(data: image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3OWI3NjciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYyYTI1MCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #79b767 0%, #62a250 100%);
    background-image: -moz-linear-gradient(top, #79b767 0%, #62a250 100%);
    background-image: -o-linear-gradient(top, #79b767 0%, #62a250 100%);
    background-image: linear-gradient(to bottom, #79b767 0%, #62a250 100%);
    -moz-box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    box-shadow: inset 0 0 2px #fff}
.greenBtn:hover {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9}
.padding-right-20 {
    padding-right: 20px}
div#catalogue div.container .pure-g,div#partner-channels div.container .pure-g {
    padding-top: 10px}

div#confirm-travel .summary-bar {
    background-color: #55b7eb;
    font-size: 1.5625em;
    color: #fff;
    padding: 10px}
div#confirm-travel table {
    width: 100%}
div#confirm-travel table td,div#confirm-travel table th {
    text-align: center;
    padding: 15px 0}
div#confirm-travel table span {
    display: block}
div#confirm-travel div.total-points {
    text-align: right;
    padding: 10px 0 10px 0}
div#confirm-travel div.total-points span {
    display: inline-block;
    padding: 5px}
div#confirm-travel div.total-points span.points {
    background-color: #75a419;
    color: #fff;
    font-size: 1.25em;
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box}
div#confirm-travel h5 {
    background-color: #5b5b5c;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    color: #fff}
div#confirm-travel div.note {
    background-color: #55b7eb;
    padding: 10px;
    color: #fff;
    margin: 25px 0;
    clear: both}
div#confirm-travel div.note h4,div#confirm-travel div.note p {
    padding: 0;
    margin: 0}
div#confirm-travel div.note h4 {
    padding: 0 0 10px 0}
div#confirm-travel div.button-rail {
    text-align: right}
div#confirm-travel .personal-details,div#confirm-travel .pin {
    width: 400px}
div#confirm-travel .terms {
    padding-top: 10px}
div#confirm-travel .terms label {
    cursor: pointer}
.travel-detail-page .blue-box div.floated div.gallery div.thumbnails img {
    margin: 4px;
    cursor: pointer}
.travel-detail-page .blue-box div.floated div.tripadvisor {
    width: 20%;
    float: right;
    background-color: #f7f7f7;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.travel-detail-page .blue-box div.title-rail {
    color: #fff;
    padding: 0 0 15px 0}
.travel-detail-page .blue-box div.title-rail h1 {
    margin: 0;
    padding: 0}
.travel-detail-page .blue-box div.title-rail p {
    margin: 0;
    padding: 0}
div.availability {
    border-left: 1px solid #2b9fda;
    border-right: 1px solid #2b9fda;
    border-bottom: 1px solid #2b9fda;
    margin-top: 20px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box}
div.availability h2 {
    background-color: #2b9fda;
    margin: 0;
    padding: 10px 0 10px 10px;
    color: #fff}
div.availability p {
    font-weight: 400}
div.availability .room {
    padding: 15px;
    border-bottom: 1px solid #d7d7d7;
    position: relative}
div.availability .room h3 {
    padding: 10px 0 0 0;
    margin: 0}
div.availability .room div.pricing {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px}
div.availability .room div.pricing span {
    display: inline-block;
    padding-right: 10px}
div.availability .room a.info {
    color: #3fb9eb}
div.availability .room .grey {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 15px}
div.availability .room-promo {
    padding: 15px;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
	background-color: #e0f5d7;}
div.availability .room-promo h3 {
    padding: 10px 0 0 0;
    margin: 0}
div.availability .room-promo div.pricing {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px}
div.availability .room-promo div.pricing span {
    display: inline-block;
    padding-right: 10px}
div.availability .room-promo a.info {
    color: #3fb9eb}
div.availability .room-promo .grey {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 15px}
div.map-directions {
    border-left: 1px solid #2b9fda;
    border-right: 1px solid #2b9fda;
    border-bottom: 1px solid #2b9fda;
    margin-top: 20px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box}
div.map-directions h2 {
    background-color: #2b9fda;
    margin: 0;
    padding: 10px 0 10px 10px;
    color: #fff}
div.map-directions #hotel-map {
    width: 100%;
    height: 300px}
div.map-directions div.area-information {
    padding: 20px;
    font-size: .75em;
    font-weight: normal}
div.hotel-details {
    border-left: 1px solid #2b9fda;
    border-right: 1px solid #2b9fda;
    border-bottom: 1px solid #2b9fda;
    margin-bottom: 50px;
    margin-top: 20px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box}
div.hotel-details h2 {
    background-color: #2b9fda;
    margin: 0;
    padding: 10px 0 10px 10px;
    color: #fff}
div.hotel-details div.wrap {
    padding: 20px}
div.hotel-details .detail-title {
    float: left;
    width: 250px}
div.hotel-details .hotel-detail-item {
    float: left;
    width: 600px;
    padding-bottom: 20px}
div.hotel-details .hotel-detail-item ul {
    margin: 0;
    padding: 0}
div.hotel-details .hotel-detail-item ul li {
    padding-right: 10px;
    float: left;
    display: block;
    width: 33%;
    font-size: .875em;
    font-weight: 200;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
div.hotel-details .hotel-detail-item p {
    margin: 0;
    padding: 0;
    font-size: .875em;
    font-weight: 200}
div.hotel-details .clearline {
    margin-bottom: 20px;
    clear: both;
    height: 3px;
    background-color: #cfcfcf}
.summary-bar {
    background-color: #55b7eb;
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
	margin: 10px 0;}
#car-page .car-image {
    float: left;
    width: 120px}
#car-page .car-detail {
    float: left;
    width: 340px}
#car-page .car-detail h1 {
    padding: 0;
    margin: 0;
    font-size: 1em}
#car-page .car-detail p {
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: .875em}
#car-page .car-detail a {
    color: #6cb9eb;
    display: block}
#car-page .car-detail table {
    font-size: .875em}
#car-page .car-booking {
    float: left;
    width: 130px;
    text-align: right}
#car-page .car-booking a.terms {
    color: #6cb9eb;
    font-size: .6875em;
    display:block}
#car-page .car-booking span {
    display: block;
    padding: 0 0 15px 0}

.color-wrapper{
    position:relative
}
#partnerForm #color, #partnerForm #secondary_color{
    background:url(../img/icons/color.png) center right no-repeat;
    background-size:contain;
    display: block !important
}
.sp-replacer{
    position:absolute;
    top:32px;
    bottom:0;
    left:0;
    right:0;
    opacity: 0;
    width:100%;
    height:30px;
    margin:0;
    padding:0;
    z-index: 10
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: #717C95;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

section.dashboard-top div.stat-group .chosen-single span{
    color:#000
}
.dashboard-filters label{
    font-size: 90%
}
.type-forms{margin-bottom: 20px}

header#content-header .navigation-menu{height:26px;padding:10px;width:180px;background-color: #363941; float:left; text-align: left}

header#content-header .navigation-menu a{cursor: pointer; color:#92959E; text-align: left;padding:10px}

#left-navigation.absolute-navigation{position:absolute}

.full-width{width:100% !important}

.redemption-order-details{
    width:800px;
    margin-bottom: 30px;
    font-size:90%;
    background-color: #fff;
    padding: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}
.redemption-order-number{
    font-size: 110%;
    margin-bottom: 10px
}
.redemption-order-details .pure-u-1-2{
    width:49%
}

#redemption-order-table{
    max-width: 800px;
    margin:0
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child{
    text-align: left
}

table.dataTable>tbody>tr.child ul {
    display: block;
}

table.dataTable>tbody>tr.child ul li {
    width: 33.33%;
    float: left;
}

table.dataTable>tbody>tr.child:hover{
    background:#fff !important
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
    background-color: #717C95
}

.chosen-container{
    width: 80% !important;
}

.user-status-wrapper{
    width:100%;
    margin-top:10px
}

.inline-block-display{
    display: inline-block !important
}

.rounded-search{
    padding: 0 8px;
    height: 29px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -moz-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -o-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.partner_list img, .partner_view img,
.mobileGame_view img,image-rail img,
.banner_list img, .banner_view img,
.productPricing_list img, .productPricing_view img,
.product_list img, .product_view img,
.supplier_list img, .supplier_view img,
.offer_list img,.file-upload img,.mobile_push img,
.network_list img, .network_view img,div.redeemer img{
    width:74px;
}
.filter-list, .filter-child-list {
    list-style-type: none;
}
.filter-list {
    padding: 0 !important;
}
.filter-child-list {
    margin: 0 !important;
}

.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.disabled:hover,
.dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.next:hover,
.dataTables_paginate .paginate_button.previous:hover{
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

#catalog-filter {
  width: 100%;
  padding-top: 15px;
}
#catalog-filter .filter-block {
  padding-left: 15px;
  width: 18%;
  float: left;
}
#catalog-filter .submit-filter-block {
  float: right;
  width: 100%;
  margin-top: 15px;
}
#catalog-filter .filter-label {
  font-weight: bold;
  /*font-style: italic;*/
}
#catalog-filter .filter-block-pricing-width {
  width: 15%;
}
.chosen-choices {
   display: none;
 }
.disable-width {
  width: auto !important;
}
.select2-container {
  font-size: 0.875em;
}

table.dataTable.pure-table thead th, table.dataTable.pure-table tbody td {
  padding: 10px;
}

.dashbooard-settings select {
  width: 380px;
}

.member-balance {
  border-bottom: 1px solid #d3d6df;
  margin-top: 10px;
}

.member-balance .member-balance-title {
  font-size: 0.83em;
  font-weight: bold;
}