@import "vendors/lesshat.less";
@import "vendors/nprogress.less";
@import "vendors/jquery.timepicker.less";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #666; 
}

body {
    font-size: 1em;
    line-height: 1.4;
}

body, html{
    background-color:#efefef;
    color:#333;
	height:100%;
}

body.loading{
    background:url(../img/loader.gif) no-repeat center center #efefef;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    .border-radius(3px);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a{
    color:#4d849e;
}

a:hover, a:active, a:focus {
  outline:0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main-container{ 
    position:relative; 
    opacity:0;
}

#inline-dialogs{
    display:none;
    overflow:hidden;
    width:0;
    height:0;
}

#left-navigation{
    background-color:#363941;
    width:200px;
    float:left;
    position:relative;
    overflow:hidden;

    #scroll-rail{
        position:absolute; 
        overflow-y:scroll; 
    }

    form{
        display:block;
        text-align: center;
        padding-top:10px;

        input{
            font-size:12/16em;
            border:none;
            background:url(../img/icons/finder.png) no-repeat center right #fff;
            background-position:97% center;
            padding:10px 10px;
            width:90%;
            .box-sizing(border-box);

            &:focus{
                outline:none;
                background-color:#F0F8FF;
            }
        }
    }

    ul{
        padding:0;
        margin:0;
        width:100%;

        li{
            padding:4px 0 4px 25px;
            .box-sizing(border-box);
            border-left:4px solid transparent;

            &.active{
                background-color:#2F3138;
                border-left:4px solid #5FBBE7;
            }

            &:hover{
                background-color:#2F3138;
            }
        }
    }

    a{
        color:#92959E;
        text-decoration:none;
        font-size:14/16em;
    }

    i{
        margin-right: 7px;
    }

    h6{
        padding-left:10px;
        font-size:14/16em;
        font-weight:bold;
        text-transform:uppercase;
        color:#4F535C;
        margin:0;
        padding:20px 0 20px 10px;
    }

} /* endof #left-navigation */

#content-area{
    overflow-y:scroll;
    background:url(../img/powered-by.png?1) no-repeat;
    background-position:99% 99%;
    float:right;
    position:relative;

    header{
        background-color:#5FBBE7;
        color:#fff;
        font-size:12/16em;
        text-align:right;
        padding:10px 10px 10px 0;
        .box-sizing(border-box);

        a{
            color:#ddd;
            display:inline-block;
            padding:0 0 0 10px;
        }

        img{
            margin-right: 10px;
        }

    } /* endof header */

    .padding{
        padding:30px 20px 50px 20px;
    }

    table{
        width:100%;
    }

    div#content{
        position:absolute;
        left:0;
        top:46px;
        padding-bottom:30px;
        overflow-y:scroll;
    }

    .content-head{
        padding-bottom: 20px;

        margin-bottom: 10px;

        .title{
            text-align:left;
            h1{
                padding:0;
                margin:0;
                font-weight:normal;
                font-size:26/16em;
                position:relative;
                max-width:700px;
                display:inline-block;
            }
        }
        .controls{
            text-align:right;

            form, button{
                display:inline-block;
            }

            form{
                margin-right:10px;
                position:relative;

                input{
                    font-size:12/16em;
                    border:none;
                    background-color:#fff;
                    background-position:97% center;
                    padding:10px 10px;
                    width:200px;
                    .box-sizing(border-box);
                    .border-radius(3px);

                    &:focus{
                        outline:none;
                        background-color:#f7fcff;
                    }
                }
            }

            .list-search{
                position:absolute;
                z-index:99999;
                width:20px;
                height:20px;
                top:7px;
                border:none;
                right:9px;
                background:url(../img/icons/finder.png) no-repeat center right transparent;
            }

            button{
                font-size:12/16em !important;
            }
        }

    } /* endof .content-head */

} /* endof #content-area */

.single-fieldset{
    margin:0px !important;
    padding:0 0 10px 0 !important;
}

body.login{
	height:100%;
	background:url(../img/oneuniverse.png) no-repeat center top #FAFAFA;
	background-position:center 50px;
	position:relative;    

    .hasBackground{
        position:relative;
        top:70% !important;
    }
}

.single-login-form{
    width:300px;
    margin:0 auto;
    position:relative;

    img{
        position:absolute;
        top:-180px;
        left:70px;
    }

    a.single-nav-link{
        display:block;
        text-align:center;
        padding-top: 20px;
        font-size:12/16em;
    }

} /* endof .single-login-form */



.attributes{
    z-index:0 !important;

    h3{

        margin:10px 0 1px 0;
        font-weight:normal;
        font-size:12/16em;
        background-color:#717C95;
        position:relative;
        padding:10px 0 10px 10px;
        display:block;
        color:#FFFFFC;
        text-transform: uppercase;
        .border-top-left-radius(3px);
        .border-top-right-radius(3px);

        a{
            color:#FFFFFC;
            text-decoration:none;

            &:hover{
                text-decoration:underline;
            }
        }
    }

    ul{
        margin:0;
        padding:0;
        list-style: none;

        li{
            display:block;
            background-color:#F1F3F5;
            font-size:14/16em;
            padding:10px;
            margin-bottom:1px;
            
            position:relative;
            .border-radius(2px);

            &.empty{
                color:#acacac;
                font-style:italic;
            }

            a{
                position:absolute;
                right:10px;
                top:10px;
            }
        }
    }

} /* endof .attributes */

/* ==========================================================================
   Page: Segments
   ========================================================================== */

div.property-forms{
    form {
        display:none;
    }
}

/* ==========================================================================
   Overview Page
   ========================================================================== */

section.dashboard-top{
    background-color:#fff;
    border-bottom:1px solid #DAE0EC;
    padding:40px;

    h3{
        font-size:12/16em;
        margin:0 0 20px 0;
        padding:0 0 20px 0;
        border-bottom:1px solid #DAE0EC;
        text-transform:uppercase;
        width:95%;
    }

    .empty-text{
        text-align:center;
        font-style: italic;
        color:#d6d6d6;
    }

    div.stat-group{
        width:33%;
        float:left;
        padding-bottom: 30px;

        h5{
            font-size:35/16em;
            font-weight:100;
            margin:0;
            padding:0;
            color:#666666;
        }
        span{
            color:#9FA8BC;
            font-size:11/16em;
            text-transform:uppercase;
        }
    }

    div.support-frame{
        padding:0;
        .border-radius(4px);
        position:relative;

        h4{
            padding:10px;
            margin:0;
            background-color:#717C95;
            color:#fff;
            text-transform:uppercase;
            font-size:12/16em;
            .border-top-left-radius(4px);
            .border-top-right-radius(4px);
        }

        div.body{
            height:400px;
            padding:15px;
            border-left:3px solid #EAEDF4;
            border-right:3px solid #EAEDF4;
            border-bottom:3px solid #EAEDF4;
            background-color:#F5F5FA;
            .border-bottom-left-radius(4px);
            .border-bottom-right-radius(4px);
        }

        div.rail{
            text-align:center;
            position:absolute;
            bottom:15px;
            width:100%;
        }

        a.pure-button{
            display:inline-block;
        }

        table{
            width:100%;

            tr{
                border-bottom: 1px solid #E7EAF2;

                td{
                    padding-top:10px;
                    padding-bottom:10px;
                }

                &:first-child{
                    td{
                        padding-top:0px !important;
                    }
                }                
            }
        }

        .ticket-image{
            width:60px;
            text-align:left;

            img{
                border:2px solid #bac0cc;
                .border-radius(50%);
            }
        }

        .ticket-name{
            font-size:14/16em;
            color:#434A5B;
            
        }

        .ticket-ts{
            font-size:12/16em;
            color:#8C96AE;
            text-align:right;
        }        
    }

} /* endof section.dashboard-top */

div.redeemer{
    display:inline-block;
    width:300px;
    position:relative;

    img{
        .border-radius(50%);
    }

    h6{
        display:block;
        float:left;
        position:absolute;
        top:17px;
        left:85px;
        margin:0;
        padding:0;
        font-size: 14px;
        font-weight: normal;
        color: #434A5B;
        line-height: 23px;
    }

    p{
        display:inline-block;
        position:absolute;
        margin:0;
        padding:0;       
        font-size: 13px;
        color: #9FA8BC;
        line-height: 18px;
        letter-spacing: 0px;
        top:37px;
        left:85px;        
    }
}

section#dashboard-chart{
    height:600px;
    position:relative;
    background-color:#FBFBFC;

    #chart-canvas{
        width:100%;
        height:300px;
    }

    h2{
        margin:0;
        padding:30px 30px 30px 30px;
        font-size:12/16em;
        font-weight:600;
        text-transform:uppercase;
        color:#666666;
    }

    .light-text{
        color:#717C95;
        text-transform:none;
        display:inline-block;
        padding-left:15px;
        font-weight:400;
    }
}

a.ticket-type-partner{
    display:block;
    padding:10px;
    background-color: #47A5EB;    
    margin-top:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    .border-radius(3px);
}

a.ticket-type-member{
    display:block;   
    padding:10px;
    background-color: #EC4748;
    text-align:center;
    text-decoration:none;
    color:#fff;    
    .border-radius(3px);
}

.support-popup-list{
        height:400px;
        overflow-y:scroll;
}

#support-center-page{
    div#ticket-view{
        padding-left:0px; 
    }    

    div#profile-view{
        padding-left:25px; 

        &.empty{
            min-height:600px;
            background:url(../img/call-center.png) center center no-repeat;
        }
    }

    a.info-link{
        text-decoration: none;
        font-size:12/16em;
        display:block;
        padding-top:10px;
    }

.search{
	background:url(../img/icons/finder.png) no-repeat #fff;
	background-position:98% 6px;
}

} /* endof #support-center-page */

.support-popup-list{
    ul{
        list-style:none;
        margin:0;
        padding:0;

        li{
            padding-bottom:5px;

            a{
                display:block;
                padding:5px;
                font-size:14/16em;
                text-decoration: none;
                border-bottom: 1px solid #d7d7d7;
                .border-radius(3);
            }
        }
    }
}

table.agent-details{
    color:#707070;
    font-size:14/16em;
    font-style:italic;
}

span.not-found{
    display:block;
    margin-top:10px;
    background-color:#FEEEEF;
    font-size:14/16em;
    color:#CF120C;    
    text-align:center;
    padding:15px;
}

/* ==========================================================================
   Report
   ========================================================================== */

.report-table{
    font-size:15/16em; 
}

div.table-totals{
    text-align:right;
    background-color:#fff;
    margin-bottom:10px;
    padding:10px;
    font-size:14/16em;

    span{
        display:inline-block;
        padding-left:25px;
        
    }
}

div.report-controls{
    div.padding{
        background-color:#FFF;    
        margin-right:15px;
    }
    h4{
        margin:0 0 10px 0;
        padding:0;
    }
    h5{
        border-bottom:1px solid #d3d6df;
        margin:20px 0 10px 0;
        padding:0;
    }
}

div.report-info{
    background-color:#F5F5FA;
    border:1px solid #d3d6df;
    padding:10px;
    margin-bottom:20px;
    color:#717C95;
    font-size:14/16em;
    .border-radius(3px);
}

a.inline-control{
    font-size:12/16em;
    display:inline-block;
    margin-right:15px;
    text-decoration:none;

    &.active{
        font-weight:bold;
        text-decoration:none;
    }

    &:hover{
        color:#71aeca;
    }
}

div.chart-canvas{
    width:100%;
    height:500px;
    margin-bottom:20px;
}

div#chart{
    h5{
        margin:0;
        padding:10px;
        font-weight:normal;
        background-color:#717C95;
        color:#FFFFFC;
        text-transform:uppercase;
    }
}

.plus{
    position:relative;
    top:5px;
    background:none;
    background:url(../img/plus.png) no-repeat center center !important;
    width:10px;
    height:10px;
    display:inline-block;
    text-indent:-99999px;
    outline:none;
}

.minus{
    position:relative;
    top:5px;    
    background:none;
    background:url(../img/minus.png) no-repeat center center !important;
    width:10px;
    height:10px;
    display:inline-block;
    outline:none;
    text-indent:-99999px;
}

label.partner-name{
    font-weight:normal;
    display:block;
    cursor:pointer;
    margin:0;
    padding:10px 0 0px 0;
    font-size:13/16em;
}

label.entity-name{
    display:none;
    margin:0 0 0 5px;
    padding:3px 0 0 0;
    padding-left:9px;
    font-size:13/16em;
    color:#949494;
    cursor:pointer;
}

label.level2{
    margin:0 0 0 20px;
    padding:3px 0 0 0;
    padding-left:9px;    
    color:#6f6d6d;
}

.report-period{
    background-color:#F5F5FA;
    border:1px solid #d3d6df;
    color:#717C95;
    font-size:14/16em;
    padding:7px 10px;
    margin:15px 0 10px 0;
    .border-radius(5px);    
    
    p{
        margin:0;
        padding:3px 0;
        display:block;
        font-size:14/16em;

        span{
            display:inline-block;
            width:30px
        }
    }
}

span.not-found{
    font-size:14/16em;
}

.report-input{
    width:100%;
    display:block;
}

/* ==========================================================================
   Forms
   ========================================================================== */

a.padded-href{
    display:inline-block;
    padding:15px 0 10px 0; 
    font-size:14/16em;
}
a.delete-image{
	font-size:12/16em;
}

table.file-upload{
	td{
	padding-bottom:15px;
	}
}

label.error{
    color:red;
}

div.button-choice{
    a{
        display:block;
        text-align:center;
        color:#fff;
        padding:5px;
        margin-bottom:5px;
        text-decoration:none;
        .border-radius(3px);

        &:nth-child(odd){
            background-color: #7889af;
        }

        &:nth-child(even){
            background-color: #657496;
        }      

        &:hover{
            background-color:#5c677f;
        }  
    }
}

.radio-label{
    cursor:pointer;
    font-size:12/16em;
    font-style: italic;
}

.form_hidden_attributes{
    display:none;
}

.errors{
    padding:20px;
    background-color:#FEEEEF;
    font-size:12/16em;
    color:#CF120C;
    margin-bottom:10px;

    ul{
        margin:0 0 0 10px;
        padding:0;
        li{

        }
    }

} /* endof .errors */

.status{
    padding:20px;
    background-color:#fafeee;
    font-size:12/16em;
    color:#93b439;
    margin-bottom:10px;

} /* endof .status */

.inline-error{
    padding:10px;
    background-color:#FEEEEF;
    font-size:14/16em;
    color:#CF120C;
    margin-bottom:10px;
    display:none;
}

.form-width{
    width:800px;
    background-color:#fff;
    padding:30px;
    .border-radius(3px);
}

.form-width-min{
    width:300px;
    background-color:#fff;
    padding:30px;
    .border-radius(3px);
}

.form-dynamic{
    width:auto;
    background-color:#fff;
    padding:30px;
    .border-radius(3px);
}

label{
    display: inline-block;
    padding-top:10px;

    &.checkbox-label{
        padding-top:3px;
    }
}

.form-buttons{
    margin-top:40px;

    div.left{
        float:left;
        width:50%;
        text-align:left;
    }

    div.right{ 
        width:50%;
        float:right;
        text-align:right;
    }

} /* endof .form-buttons */

.button-link{
    display:block;
    margin-top:10px;
}

fieldset{
    margin-bottom:20px !important;

    legend{
        position:relative !important;
        display:block !important;
        font-size:20/16em !important;
        padding-bottom: 20px !important;
        border-bottom: 3px solid #d7d7d7 !important;

        .right{
            font-size:12/16em;
            position:absolute;
            right:0;
            top:10px;

            span{
                color:#fa7d5b;
            }
        }
    }
}

.dob-width{
    float:left;
    width:100px;
    display:block;
    margin-right:10px !important;
}

tr.empty{
    td{
        text-align: center;
    }
}

span.info{
    display:block;
    padding:10px;
    border-left:3px solid #dfdf93;
    background-color:#FFFFCD;
    color:#999973;
    font-size:14/16em;
}

input.disabled{
    background-color:#EFEFEF !important;
}

span.inline-help{
    font-size:12/16em;
    display:block;
    margin:10px 0 0 0;
}

/* ==========================================================================
   Sortable Lists
   ========================================================================== */

ul.sortable-list {
    list-style:none;
    margin:0 0 15px 0;
    padding:0; 

    li {
        display:block;
        padding:5px;
        font-size:14/16em;
        margin-bottom:3px;
        cursor:pointer;
        background:url(../img/sort.png?1) no-repeat center right #f8f8f8;

        span.p{
            font-weight:bold;
            display:inline-block;
            padding-right:10px;
            color:red;
        }

        &:active{
            background-color:#e7e7e7;
        }
    }

} /* endof ul.sortable-list */

.save-sortable{
    display:block
}

/* ==========================================================================
   Dialogs
   ========================================================================== */
div#dialog-container{
    position:absolute;
    display:none;
    background:url(../img/transparency.png) repeat;
    z-index:10;

    div#dialog-wrapper{
        z-index:11;
        background-color:#fff;
        padding:30px;
        z-index:20 !important;
        position:absolute;
        .border-radius(3px);

        div.body{
            h4{
                border-bottom:1px solid #d7d7d7;
                margin:0 0 20px 0;
                padding:0 0 10px 0;
            }
        }

        a.close{
            position:absolute;
            width:34px;
            height:33px;
            background:url(../img/close.png) no-repeat;
            display:block;
            top:-10px;
            right:-10px;
            text-indent:-99999px;
        }

        .section-title{
            padding:5px 10px;
            margin:10px 0 10px 0;
            background-color:#e7e7e7;
        }
    }
}

div.map-canvas{
    background-color:#d7d7d7;
    width:100%;
    height:200px;
    margin-bottom:10px;
}

.top-space{
    display:inline-block;
    padding-top:10px;
}

.attribute-action, .basic-action, .attribute-action-save, .attribute-action-reload{
    display:block;
    margin-top:20px;
}

.attribute-action-reload{
    margin-top:35px;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color:#535d73;

    &:hover{
        background-color:#717C95;
    }
}

a.btn-new-brand, a.btn-new-category, a.btn-new-file{
    font-size:12/16em;
}

#select-all-permissions{
    font-size:11/16em;
    position:absolute;
    right:0px;
}

.select-group-permissions{
    margin:0 !important;
    padding:0 !important;
}

/* ==========================================================================
   Tables
   ========================================================================== */

.pure-table{
    border:none;

    thead{
        border:2px solid #717C95;
    }

    tr.group-title{
        td{
            padding-left:20px;
            text-align:left !important;
            text-transform:uppercase;
            font-weight: bold;
            font-size:11/16em;
        }
    }

    th{
        padding:10px 5px;
        text-align: center;
        background-color:#717C95;
        color:#FFFFFC;
        font-size:12/16em;
        text-transform:uppercase;
        font-weight:normal;
        border-left:1px solid #7f8aa2;

        a{
            color:#FFFFFC;
            text-decoration:none;

            &:hover{
                color:#63b6d5;
            }
        }
    }

    tr:nth-child(even) {
        background: #fff;
    }

    tr:nth-child(odd) {
        background: #F5F5FA;
    }

    td{
        padding:10px 5px 10px 5px;
        font-size:14/16em;
        text-align:center;
        border-left:1px solid #e6e9ee;


        label{
            cursor:pointer;
        }
    }

    tbody{
        border-left:2px solid #dadfe8;
        border-right:2px solid #dadfe8;
        border-bottom:2px solid #dadfe8;
    }

    tfoot{
        border-left:2px solid #dadfe8;
        border-right:2px solid #dadfe8;
        border-bottom:2px solid #dadfe8;
        font-weight:bold;
        color:#a8afba;
    }

} /* endof .pure-table */

.condensed-rows{
    td{
        padding:5px 0 5px 0;
    }

    label{
        display:inline;
    }
}

th.align-left, td.align-left{
    text-align:left !important;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination{
    list-style: none;
    margin:10px 0 0 0;
    padding:0;

    li{
        display:inline-block;
        padding:0 4px 0 4px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.asterix{
    color:red !important;
}
.yes{
    color:#6fba6d;
}

.no{
    color:#ba6d6d;
}

.ico-yes{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/yes.png) no-repeat center center;
}

.ico-no{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/no.png) no-repeat center center;
}

div.spacer{
    height:20px;
    width: 100%;
}

.padding-top-10{
    padding-top:10px;
}

.padding-left-10{
    padding-left:10px;
}

.padding-left-20{
    padding-left:20px;
}

.padding-left-30{
    padding-left:20px;
}

.padding-left-40{
    padding-left:40px;
}

.padding-left-60{
    padding-left:60px;
}

.padding-right-10{
    padding-right:10px;
}

.padding-bottom-10{
    padding-bottom:10px;
}

.padding-lr-10{
    padding:0 10px 0 10px;
}

.block{
    display:block; 
}

.align-center{
    text-align:center;
}

.align-right{
    text-align:right;
}

.align-left{
    text-align:left;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}