@import "vendors/lesshat.less";
@import "vendors/nprogress.less";

html,
button,
input,
select,
textarea {
  color: #666;
}

body {
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
    overflow: scroll;
    width: 100%;
    margin: 0 auto;
}

body,
html {
    background-color: #efefef;
    color: #333;
}

div#content{
  width:90%;
  margin:0 auto;
}

div#main-menu{
  padding:20px 0 0 0;
}

div.status-bar {
    background: url(../img/logo-new.png) no-repeat;
    background-position: 50% 20px;
    height: 160px;
}
table {
    width: 100%;
    margin: 0 auto;
}
table.pure-table a {
    text-decoration: underline;
}

table.pure-table td {
    width: auto;
}
a:visited, a:link {
    color: #333333;
}
td a {
    text-decoration: none
}
tr.voided {
    td{
      a{
        color:red;
        text-decoration:line-through;
      }
    }
}
a.void {
    background-color: #ff3333;
    color: #fff;
}
a.pure-button-main {
    width: 100%;
    padding-left: 0;
    height: 50px;
    line-height: 50px;
    padding-right: 0px;
}
.form-buttons {
  margin: 40px auto;
  width: 100%;
}


.form-buttons div.left {
  text-align: left;
}
.form-buttons div.right {
  text-align: right;
}

tr {
    height: 50px;
}
td {
    height: 50px;
    width: 50%;
}

.center {
    text-align: center;
}

input[type='text'], input[type='number'], input[type='tel']{
    height: 100%;
    font-size: x-large;
    width: 100%;
}

select {
    line-height: 50px;
    height: 50px;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* NProgress */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px; 
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
.errors {
  padding: 20px;
  background-color: #FEEEEF;
  font-size: 1.25em;
  color: #CF120C;
  margin-bottom: 10px;
  
  text-align: center;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.redLightBtn{
   background: rgb(240, 216, 216);
}

.darkRedBtn{
  background: rgb(188, 84, 84); 
}

.page-padding {
  padding-top:20px;
}

div.mobile-error{
  background-color:#e7e7e7;
  color:#666;
  padding:10px;
  margin-top:40px;
  .border-radius(5px);

  h1{
    text-align:center;
    font-size:20/16em;
  }

  p{
    display:block;
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
  }
}

div.checkout-buttons{
  padding-top:20px;
  padding-bottom:50px;
  text-align:center;
  max-width:500px;
  margin:0 auto;

  a{
    display:block;
    text-decoration:none;
    color:#fff !important;
    padding:25px 0;
    font-size:15/16em;
    .border-radius(5px);
  }
}

div.padding-lr{
  padding:0 10px 0 10px;
}

.emp{
  color:red;
}

.reward-button-large{
  background:rgb(60, 153, 201) !important;

}

.redeem-button-large{
  background:rgb(201, 60, 73) !important;
}

.cancel-button-large{
  background:rgb(209, 209, 209) !important; 
}

a.dark-button{
  color:#fff;
}

h2{
  font-size:18/16em;
}

.pagination{
    list-style: none;
    margin:10px 0 0 0;
    padding:0;

    li{
        display:inline-block;
        padding:0 10px 0 10px;
    }
}

.redBtn{
  background:rgb(229, 75, 75);
}

.empty{
  text-align:center;
}

.version{
  display:block;
  text-align:center;
  font-size:16/16em;
  padding:10px 0;
}

a.doProceed{
  color:#fff;
}

#doscan{
  display:none;
}